{#% extends 'page.html' %#}
{% extends 'package/base.html' %}

{% block title %}{{ _('Georeferencing') }} - {{ super() }}{% endblock %}

{% block content_action %}
  {% link_for _('View dataset'), controller='package', action='read', id=pkg.name, class_='btn', icon='eye' %}
{% endblock %}

{% block primary_content_inner %}
  {% set dataset_extent = h.get_pkg_dict_extra(c.pkg_dict, 'spatial', '') %}
  {% snippet "georeferencing/snippets/georeferencing_map.html", extent=dataset_extent, name=pkg.name %}
  <button class="btn btn-primary" id="btn_dataset_save">{% block save_button_text %}{{ _('Update') }}{% endblock %}</button>
  {% link_for _('Test dataset'), controller='georeferencing', action='view_dataset', name=pkg.name, class_='btn' %}
{% endblock %}

{% block scripts %}
{{ super() }}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"/>
<script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"></script>
<link rel="stylesheet" href="https://unpkg.com/leaflet.pm@latest/dist/leaflet.pm.css" />
<script src="https://unpkg.com/leaflet.pm@latest/dist/leaflet.pm.min.js"></script>
{% endblock %}
