{#% extends 'page.html' %#}
{% extends 'package/base.html' %}

{% block title %}{{ _('Georeferencing') }} - {{ super() }}{% endblock %}

{% block content_action %}
  {% link_for _('View dataset'), controller='package', action='read', id=pkg.name, class_='btn', icon='eye' %}
{% endblock %}

{% block primary_content_inner %}
  {% set dataset_extent = h.get_pkg_dict_extra(c.pkg_dict, 'spatial', 'TEST') %}
  {% if dataset_extent %}
    {% snippet "georeferencing/snippets/georeferencing_map.html", extent=dataset_extent %}
  {% endif %}
  <button class="btn btn-primary" id="btn_dataset_save">{% block save_button_text %}{{ _('Update') }}{% endblock %}</button>
{% endblock %}

{% block content_primary_nav %}
  {{ h.build_nav_icon('dataset_read', _('Dataset'), id=pkg.name) }}
  {{ h.build_nav_icon('dataset_groups', _('Groups'), id=pkg.name) }}
  {{ h.build_nav_icon('dataset_activity', _('Activity Stream'), id=pkg.name) }}
{% endblock %}

{% block secondary_content %}
{% endblock %}

{% block scripts %}
{{ super() }}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"/>
<script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.css"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.js"></script>
{% endblock %}
