{#% extends 'page.html' %#}
{% extends 'organization/read_base.html' %}

{% block title %}{{ _('Georeferencing') }} - {{ super() }}{% endblock %}

{% block content_action %}
  {% link_for _('View organization'), controller='organization', action='read', id=c.group_dict.name, class_='btn', icon='eye' %}
{% endblock %}

{% block primary_content_inner %}
  {% snippet "georeferencing/snippets/georeferencing_map.html", extent='', name=c.group_dict.name %}
  <button class="btn btn-primary" id="btn_org_save">{% block save_button_text %}{{ _('Update') }}{% endblock %}</button>
{% endblock %}

{% block scripts %}
{{ super() }}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"/>
<script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"></script>
<link rel="stylesheet" href="https://unpkg.com/leaflet.pm@latest/dist/leaflet.pm.css" />
<script src="https://unpkg.com/leaflet.pm@latest/dist/leaflet.pm.min.js"></script>
{% endblock %}
